body{
  background-image: url(../image/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin:0px;

}

.grid-container{
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows:50px;
grid-gap: 20px;

// height: 50vh;
}

.navbar{
  grid-column-start: 1;
  grid-column-end:11;
  grid-row-start:1;
  grid-row-end:2 ;
  word-spacing: 30px;
  // background-image: url(../image/grees.jpeg);
  background-color: grey;
  // background-repeat: no-repeat;
  // background-size: cover;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}
//with a list of activities//
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color:grey;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color:grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: grey;
}
//end of drop down code//


.pageHeading{
  grid-column-start:5;
  grid-column-end: 6;
  color: white;
}

.hiking{

  grid-column-start:1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  color: grey;

.hikingPics{

    display: grid;
    grid-template-columns: repeat(11, 1fr);

}

img{
  width: 250px;
  height: 250px;

}

.pic{
  margin-left: 80px;
}

}





.footer{
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 15;
  grid-row-end:15;
  background-color: grey;
  color: white;
}


// responsive//


@media screen and(min-width: 360px){


  body {
      background-image: url(../image/background.jpeg);
      background-repeat: no-repeat;
      background-size:400px;
      background-size: cover;
      margin: 0px;
  }

  .grid-container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows:auto;
  grid-gap: 10px;

  // height: 50vh;
  }

  .navbar{
    width: 1500px;
  }
// .pic1{position:absolute;
//    bottom:-50px;
//    right:20px;
//    width:60;
//
// }

.pic1,.pic2,.pic3,.pic4, .pic5{
  width: 100px;
  height: 50px;
}

.grid-container{
  grid-row-end:10px;
}
}
