body {
  background-image: url(../images/forest3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgrey; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 30;
  grid-gap: 10px;
  height: 50vh; }

.header {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-top: 80px;
  padding-bottom: 87px;
  color: white;
  font-size: 30px;
  background-image: url(../images/forest3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-blend-mode: difference;
  opacity: 140;
  padding-right: 0px; }

.navbar {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 4;
  word-spacing: 30px;
  background-image: url(../images/grees.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  padding-top: 10px; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; }

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #4CAF50;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown:hover .dropdown_content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #4CAF50; }

.sidebar {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 10;
  height: 371px;
  padding-left: 5px;
  border: 0px solid black;
  background-color: #4CAF50; }

.h2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 4;
  color: #519872;
  font-weight: 900; }

.hikingPic {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  position: relative;
  background-repeat: no-repeat; }

.campingPic {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 7; }

.fishingPic {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 10; }

.rockclimbing {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 10; }

.hikingText {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  color: lightgrey;
  font-size: 57px;
  position: absolute;
  text-align: center;
  padding-left: 100px;
  padding-top: 100px; }

.campingText {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  color: lightgrey;
  font-size: 57px;
  position: absolute;
  text-align: center;
  padding-left: 100px;
  padding-top: 100px; }

.fishingtext {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  color: #416165;
  font-size: 57px;
  position: absolute;
  text-align: center;
  padding-left: 100px;
  padding-top: 100px; }

.rockclimbingtext {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  color: lightgrey;
  font-size: 57px;
  position: absolute;
  text-align: center;
  padding-left: 60px;
  padding-top: 100px; }

.hikingPic:hover {
  transform: scale(1.1); }

.campingPic:hover {
  transform: scale(1.1); }

.fishingPic:hover {
  transform: scale(1.1); }

.rockclimbing:hover {
  transform: scale(1.1); }

#hikeInfo {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 20;
  grid-row-end: 50;
  color: green;
  padding-top: 3px;
  height: 200px;
  margin-top: 39px; }

.link:hover {
  transform: scale(1.1); }

#campingInfo {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 131;
  grid-row-end: 131;
  color: green;
  padding-top: 3px;
  height: 200px;
  margin-top: 39px;
  padding-top: 108px; }

#fishingInfo {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 107;
  grid-row-end: 154;
  color: green;
  padding-top: 3px;
  height: 200px;
  margin-top: -102px; }

#rocklimbingInfo {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 153;
  grid-row-end: 160;
  color: green;
  padding-top: 3px;
  height: 200px;
  margin-top: 39px;
  padding-top: 108px; }

.footer {
  grid-column-start: 1;
  grid-column-end: 11;
  background-color: grey;
  grid-row-start: 166;
  grid-row-end: 170;
  color: white;
  padding-top: 0px;
  margin-top: 0px; }

/*# sourceMappingURL=style.css.map */
